/**
 * desc: 
 * User: Renjian.Tang/renjian.tang@gymboglobal.com
 * Date: 2019/12/25
 * Time: 上午11:28
 */
$--color-primary: #e06287;


$themeColor: #e06287;
$white: #fff;
$grey999: #999999;
$borderColor: #DCDEE2;